@import url("http://fonts.cdnfonts.com/css/curse-casual");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;700&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  --text: #ffffff;
  --green-addon: #008c47;
  --red-addon: #e92125;
  --orange-addon-1: #e6a827;
  --orange-addon-2: #f48c24;
  --gray-addon-1: #ACACAC;
  --gray-addon-2: #9F9F9F;
}

html * {
  font-family: Oswald, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Oswald', sans-serif;
  color: white;
}

.app {
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  background-color: black;
}

html {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  canvas {
    -ms-touch-action: auto !important;
        touch-action: auto !important;
  }
}

.socials {
  position: fixed;
  bottom: 0%;
  right: 0%;
  padding: 0px 20px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.home {
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home::-webkit-scrollbar {
  width: 0.3em;
}

.home::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: black;
}

.home::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 3rem;
}

.home section {
  scroll-snap-align: start;
}

.splash-screen {
  position: relative;
  width: 100%;
  height: 100vh;
}

.splash-screen__arrows {
  position: absolute;
  bottom: 2%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.splash-screen__down-arrow {
  display: block;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  margin: 0 0 3px 5px;
  -webkit-animation: mouse-scroll 2s infinite;
          animation: mouse-scroll 2s infinite;
}

.splash-screen__down-arrow:nth-child(1) {
  margin-top: 6px;
}

.splash-screen__down-arrow:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.splash-screen__down-arrow:nth-child(3) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hand-icon {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-animation: handAnim 2s infinite;
          animation: handAnim 2s infinite;
}

.hand-icon__hand {
  background: #fff;
  width: 5px;
  height: 16px;
  border-radius: 20px;
  position: relative;
  left: -5px;
  margin-bottom: 17px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.hand-icon__hand:after {
  content: "";
  background: #fff;
  width: 17px;
  height: 18px;
  border-radius: 4px 8px 38px 15px;
  -webkit-transform: rotate(6deg) skewY(10deg);
          transform: rotate(6deg) skewY(10deg);
  position: absolute;
  top: 13px;
  left: -1px;
}

.hand-icon__hand:before {
  content: "";
  background: #fff;
  width: 6px;
  height: 17px;
  border-radius: 2px 40px 20px 20px;
  position: absolute;
  top: 12px;
  left: -6px;
  -webkit-transform: rotate(-38deg);
          transform: rotate(-38deg);
}

.hand-icon__circle {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: -7px;
  opacity: .5;
  -webkit-animation: circleAnim 2s infinite;
          animation: circleAnim 2s infinite;
}

@-webkit-keyframes handAnim {
  0% {
    left: 48%;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    left: 52%;
    opacity: 1;
  }
}

@keyframes handAnim {
  0% {
    left: 48%;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  100% {
    left: 52%;
    opacity: 1;
  }
}

@-webkit-keyframes circleAnim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0.8;
  }
}

@keyframes circleAnim {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0.8;
  }
}

@media only screen and (max-width: 768px) {
  .splash-screen {
    height: unset;
    max-height: 100vh;
  }
  .hand-icon {
    display: none;
  }
}

.about-me {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me__content {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
}

.about-me__title {
  font-size: 5rem;
  margin-bottom: 5px;
}

.about-me__description {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about-me__scroll-to-contact {
  -ms-flex-item-align: center;
      align-self: center;
  background-color: transparent;
  font-size: 2rem;
  border: 2px solid white;
  border-radius: 3rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 150px;
  height: 50px;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .about-me {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-me__content {
    width: 100%;
    max-width: 600px;
    height: unset;
    padding: 0px 50px 0px 50px;
  }
  .about-me__title {
    margin-top: 20px;
    font-size: 3rem;
  }
  .about-me__description {
    font-size: 1.2rem;
  }
}

.portfolio {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__generally {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0px 0px 100px;
}

.portfolio__title {
  font-size: 5rem;
}

.portfolio__list {
  list-style: inside;
}

.portfolio__button-change {
  background-color: transparent;
  font-size: 2rem;
  border: unset;
  cursor: pointer;
}

.portfolio__details {
  height: 100%;
  padding: 50px 100px 0px 0px;
}

@media only screen and (max-width: 750px) {
  .portfolio {
    height: unset;
    width: 100%;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio__generally {
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 50px 0px 50px;
  }
  .portfolio__details {
    margin-top: 40px;
    padding: 0px 50px 150px 50px;
  }
}

@media only screen and (max-width: 1250px) {
  .portfolio__title {
    font-size: 4rem;
  }
  .portfolio__button-change {
    background-color: transparent;
    font-size: 1.5rem;
    border: unset;
    cursor: pointer;
  }
}

.portfolio-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: super-farmer 0.2s ease-in-out;
          animation: super-farmer 0.2s ease-in-out;
  height: 100%;
}

.portfolio-details__title {
  font-size: 3rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.portfolio-details__photos {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.portfolio-details__photo {
  max-height: 40vh;
}

.portfolio-details__photo:nth-child(2) {
  margin-left: 8vw;
}

.portfolio-details__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 20px;
  gap: 20px;
}

.portfolio-details__text {
  max-width: 600px;
  overflow-wrap: break-word;
  font-size: 1.5rem;
}

.portfolio-details__list li {
  list-style: inside circle;
}

.portfolio-details__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8vw;
}

.portfolio-details__button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: solid 2px white;
  width: 125px;
  font-size: 2rem;
  border-radius: 3rem;
}

@-webkit-keyframes super-farmer {
  0% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes super-farmer {
  0% {
    -webkit-transform: translate(100%, 0%);
            transform: translate(100%, 0%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@media only screen and (max-width: 1250px) {
  .portfolio-details__title {
    font-size: 2rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .portfolio-details__photos {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .portfolio-details__photo {
    max-height: 40vh;
    max-width: 30vw;
  }
  .portfolio-details__photo:nth-child(2) {
    margin-left: 5vw;
  }
  .portfolio-details__text {
    max-width: 400px;
    overflow-wrap: break-word;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1000px) {
  .portfolio-details {
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-details__title {
    font-size: 3rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .portfolio-details__photos {
    height: unset;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio-details__photo {
    max-height: 30vh;
    max-width: 100%;
  }
  .portfolio-details__photo:nth-child(2) {
    margin-left: unset;
    margin-top: 10px;
  }
  .portfolio-details__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 20px;
    gap: 20px;
  }
  .portfolio-details__text {
    max-width: 600px;
    overflow-wrap: break-word;
    font-size: 1.5rem;
  }
}

.skills {
  padding: 50px 100px 50px 100px;
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.skills__title {
  font-size: 5rem;
  justify-self: flex-start;
}

.skills__spheres {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills__sphere {
  position: relative;
  width: 40vw;
  height: 40vw;
  font-size: 25px;
}

@media only screen and (max-width: 768px) {
  .skills {
    padding: 50px 100px 100px 100px;
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .skills__title {
    font-size: 5rem;
    justify-self: flex-start;
  }
  .skills__sphere {
    position: relative;
    width: 80vw;
    height: 80vw;
    font-size: 25px;
  }
}

.skill {
  position: relative;
}

.circle-wrap {
  width: 150px;
  height: 150px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid transparent;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #ffffff;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.mask.full,
.circle .fill {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.circle-wrap .inside-circle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #000000;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #ffffff;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.history {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.history h1 {
  font-size: 5rem;
}

.contact {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 50px 100px 50px 100px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__title {
  font-size: 5rem;
}

.contact__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.contact__invitation {
  font-size: 1.5rem;
}

.contact__email {
  font-size: 3rem;
  font-weight: 700;
}

.contact__welcome-social {
  font-size: 1.5rem;
}

.contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

.contact__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  text-decoration: none;
}

@media only screen and (max-width: 1250px) {
  .contact__title {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.not-found {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.not-found__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 5rem;
}
/*# sourceMappingURL=styles.css.map */