@import url("http://fonts.cdnfonts.com/css/curse-casual");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  --text: #ffffff;
  --green-addon: #008c47;
  --red-addon: #e92125;
  --orange-addon-1: #e6a827;
  --orange-addon-2: #f48c24;
  --gray-addon-1: #ACACAC;
  --gray-addon-2: #9F9F9F;
}

html * {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

.app {
  width: 100%;
  height: 100vh;
}

html {
  width: 100%;
}

.socials {
  position: fixed;
  bottom: 0%;
  right: 0%;
  padding: 0px 10px 5px 0px;
}

.home {
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
}

.home::-webkit-scrollbar {
  width: 0.3em;
}

.home::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: black;
}

.home::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 3rem;
}

.home section {
  scroll-snap-align: start;
}

.splash-screen {
  position: relative;
  width: 100%;
  height: 100vh;
}

.splash-screen__arrows {
  position: absolute;
  bottom: 1%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.splash-screen__down-arrow {
  display: block;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 0 0 3px 5px;
  -webkit-animation: mouse-scroll 2s infinite;
          animation: mouse-scroll 2s infinite;
}

.splash-screen__down-arrow:nth-child(1) {
  margin-top: 6px;
}

.splash-screen__down-arrow:nth-child(2) {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.splash-screen__down-arrow:nth-child(3) {
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.about-me {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-me h1 {
  font-size: 5rem;
}

.portfolio {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio h1 {
  font-size: 5rem;
}

.skills {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills h1 {
  font-size: 5rem;
}

.history {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.history h1 {
  font-size: 5rem;
}

.contact {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact h1 {
  font-size: 5rem;
}
/*# sourceMappingURL=styles.css.map */