@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;700&display=swap');

html * {
    font-family: Oswald, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.app {
    width: 100%;
    max-width: 1920px;
    height: 100vh;
    background-color: black;
}

html {
    width: 100%;
}