@import url('http://fonts.cdnfonts.com/css/curse-casual');

:root {
    --text: #ffffff;
    --green-addon: #008c47;
    --red-addon: #e92125;
    --orange-addon-1: #e6a827;
    --orange-addon-2: #f48c24;
    --gray-addon-1: #ACACAC;
    --gray-addon-2: #9F9F9F;
}